/** meyer**/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




/**/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  cursor: default;
  color: white;
  background-color: black;
}

#app {
  &[v-cloak] {
    display: none;
  }
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}



/**/

main {
  min-height: 100vh;
  margin: 0 1rem;
}

div.cld-image img, div.cld-video video{
  width:100%;
  height: auto;
}
nav.main-menu img{
  width: auto;
  height: auto;
}
.nav-title .cld-image{
  display: inline-block;
}
.nav-title {
  .cld-image{
    display: inline-block;
  }
  .logo-text{
    display: inline-block;
    vertical-align: super;
    color: #d8ac52;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Libre Franklin","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  }
}

h1 {
  font-family: "Libre Franklin","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 400;   
  font-size: 30px;
  min-width: 480px;
  font-size: 40px;
  padding: 12px 0;
  color: #d8ac52;
}

h2 {
  font-family: "Libre Franklin","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 400;   
  font-size: 2rem;
  min-width: 480px;
  font-size: 40px;
  padding: 12px 0;
  color: #d8ac52;
}

h3 {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 16px; 
  line-height: 1.4; 
  letter-spacing: 0.02em; 
  font-weight: 400;
  padding: 10px 0;
  font-size: 1.3rem;
}

p {
  font-family: "Libre Baskerville", sans-serif;
  line-height: 1.7; 
  letter-spacing: 0.02em; 
  font-weight: 400;
  padding: 10px 0;
  font-size: 1rem;
}

.inner-column {
  // width: 80%;
  max-width: 1560px;
  margin-right: auto;
  margin-left: auto;
}

.layout-grid {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .item {
        width: 100%;
    }
    @media (min-width: 480px){
        .item {
            width: 48%;
            &:nth-of-type(2n + 2) {
                margin-left: 4%;
            }
        }
    }
  
    @media (min-width: 640px) {
        //
        .item {
            width: 32%;
            margin-right: 2%;
            &:nth-of-type(2n + 2) {
                margin-left: 0;
            }
            &:nth-of-type(3n + 3) {
                margin-right: 0;
            }
        }
    }
    @media (min-width: 767px) {
        .item {
            width: 23.5%;
            margin-right: 2%;
            &:nth-of-type(3n + 3) {
                margin-right: 2%;
            }
            &:nth-of-type(4n) {
                margin-right: 0;
            }
        }
    }
}